html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
  background: #fff9e0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

canvas {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 0 0 1px #e0e0e0, 1px 1px 3px 0 rgba(0,0,0,0.1), 3px 7px 5px 0 rgba(0,0,0,0.05);
  border-radius: 1px;
  border: 0.5rem solid white;
}

.wrapper {
  display: block;
  position: relative;
  margin: 1.5rem 1rem 0 1rem;
}

.painting {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 1rem 2rem 1rem;
  @media screen and (min-width: 800px) {
    width: 50%;
  };
  @media screen and (min-width: 1200px) {
    width: 33.33%;
  };
  @media screen and (min-width: 1800px) {
    width: 25%;
  };
}

.info-card {
  display: inline-block;
  transform-origin: 50% 50%;
  transition: all 75ms ease-out;
  cursor: pointer;
  color: #363b3f;
  &:hover {
    //transform: scale(1.05,1.05);
  }
  &__title {
    margin: 0;
    font-size: 16px;
    font-style: italic;
  }
  &__artist {
    font-weight: bold;
    opacity: 0.9;
  }
  &__meta {
    display: block;
    font-size: 12px;
    margin: 0.125rem 0 0 0;
    opacity: 0.9;
  }
}